* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family:'Times New Roman', Times, serif;
  font-size: 17px;
}


/* Header and Nav Bar */
header {
  background-image: url(../images/header.jpeg);
  background-repeat: repeat-x;
  padding-top: 170px;
  text-align: center;
}

header h1 {
  font-size: 50px;
}

header h2 {
  font-size: 25px;
  color: #4e6c34;
  font-weight: normal;
}

header nav ul {
  padding: 40px 200px 0px 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  font-size: 30px;
  font-family: cursive;
  color: #000000;
    border-bottom: #4e6c34 1px;

}

header nav ul li a:hover {
  color: #6a8a5b;
  border-radius: 15px;
  text-shadow: none;
}


/* Main */
main {
  padding: 40px 250px 90px 250px;
}

section {
  padding: 30px 0px;
}

#about-me, #contact-me  {
  background-color: #e1e8ce;
  border: 1px solid;
}

#my-work {
  border-left: 1px solid;
  border-right: 1px solid;
}

#contact-me p {
  font-weight: bold;
}


/* Content Formatting */
.content h3 {
  font-size: 35px;
  flex: 1 30%;
  color: #000000;
}

.content {
  margin: 30px auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.content-text {
  flex: 2 50%;
  text-align: center;
}

.content-text a {
  text-decoration: none;
}


/* About Me Section */
.about-img {
  padding-left: 25px;
  float: right;
}

.about-img img {
  border-radius: 20px;
}

#about-me p {
  text-align: justify;
  padding-bottom: 30px;
}


/* My Work Section*/
.newest-project img {
  max-width: 80%;
}

.other-projects img {
  max-width: 39.6%;
}


/* Contact Section */
.contact-img {
  padding-bottom: 25px;
  display: flex;
  justify-content: space-evenly;
}

.contact-img img {
  height: 100px;
}

/* Footer */
footer {
  height: 88px;
  background-image: url(../images/footer.jpeg);
  display: flex;
  flex-wrap: wrap;
  justify-content:right;
  padding: 51px 35px 0px 0px;
}

footer h4 {
  background-color: #ffffff;
  font-size: 21px;
}

footer span {
  color: #678854;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header nav ul {
    padding-top: 60px;
  }

  header nav ul li a {
    font-size: 45px;
  }

  main {
    padding: 20px;
  }

  footer {
    font-size: 30px;
    padding: 50px;
  }

  .content {
    width: 90%;
  }

  .content h3 {
    font-size: 45px;
    text-align: center;
    padding-bottom: 50px;
  }

  .content-text {
  font-size: 25px;
  flex: 100%;
  }

  .about-img {
    float: none;
    padding-bottom: 30px;
  }

  .other-projects img {
    max-width: 85%;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  header nav ul {
    display: flex;
    flex-direction: column;
  }
}


/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  .contact-img{
    order: 3;
    flex: 2 100%;
    flex-direction: column;
  }
}
